.git
node_modules
server/node_modules
# dist (allowing for local build bypass)
server/dist
*.log
build_logs.txt
package-lock.json
server/package-lock.json
.env
.env.local
*.db
*.db-journal
server/prisma/dev.db
server/prisma/dev.db-journal
server/prisma/migrations
